.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.category .active {
  color: var(--primary-400);
}
.category :hover {
  color: var(--primary-400);
}
.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}
.page-item .active {
  background: var(--primary-300);
  font-weight: 500;
}
.btn-product-size {
  border-color: var(--neutral-900);
}
